@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; 
  font-family: "Varela Round", sans-serif;
}

:root {

  /* KLS-COLORS */
  --kls-color-000: #ffffff;
  --kls-color-100: #F7F5F9;
  --kls-color-200: #ffca67;
  --kls-color-300: #22A75D;
  --kls-color-400: #2278D4;
  --kls-color-500: #191B21;

  /* BORDER-RADIUS */
  --kls-border-radius-primary: 10px;
  --kls-border-radius-secondary: 50px;

  /* SPACINGS */
  --kls-padding-xs: 5px;
  --kls-padding-s: 10px;
  --kls-padding-m: 15px;
  --kls-padding-l: 20px;
  --kls-padding-xl: 25px;

  --kls-margin-xs: 5px;
  --kls-margin-s: 10px;
  --kls-margin-m: 15px;
  --kls-margin-l: 20px;
  --kls-margin-xl: 25px;

  --kls-gap-xs: 5px;
  --kls-gap-s: 10px;
  --kls-gap-m: 15px;
  --kls-gap-l: 20px;
  --kls-gap-xl: 25px;

}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--kls-color-100);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: var(--kls-padding-l);
  justify-content: space-between;
  padding-top: 30px;
  position: relative;
  z-index: 99999;
}

.header > img {
  width: 50px;
}

.header > nav ul {
  gap: var(--kls-gap-xl);
}

.header > nav a {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--kls-color-500);
}

.header > nav a:hover {
  border-bottom: var(--kls-color-500) solid 3px;
}

.languages {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--kls-gap-m);
  align-items: center;
}

.languages button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0px var(--kls-padding-s);
}

.languages button img {
  transition: all 0.5s;
}

.languages button:hover img {
  filter: drop-shadow(0px 0px 5px var(--kls-color-500));
}

.languages > ul {
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;
}

.languages > input:checked ~ ul {
  height: 220px;
}

.languages > input {
  display: none;
}

label[for="desplegable"] {
  width: 60px;
  height: 60px;
  background-color: var(--kls-color-200);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.languages > input:checked + label:hover {
  animation: none;
}

label[for="desplegable"]:hover {
  animation: move-arrow 0.5s linear;
}

label[for="desplegable"] > img {
  width: 50%;
}

.languages > input:checked + label {
  transform: rotate(-180deg);
}

@keyframes move-arrow {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


#hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px var(--kls-padding-xl);
}

#hero > div {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: var(--kls-gap-xl);
  min-width: 600px;
}

#hero > div h1 {
  color: var(--kls-color-400);
  font-size: 2.5rem;
}

#hero > div p {
  font-size: 1.2rem;
  color: var(--kls-color-500);
  opacity: 0.7;
}

#hero > img {
  width: 500px;
}

#hero .map {
  border: 5px solid var(--kls-color-400);
  border-radius: 0px 100% 100% 100%;
}










/* WAVES */
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}

.waves .content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: #ffca67;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

.container-waves {
  position: absolute;
  width: 100%;
  height: 100px;
  transform: rotate(180deg);
}


@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}