@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; 
  font-family: "Varela Round", sans-serif;
}

:root {

  /* KLS-COLORS */
  --kls-color-000: #ffffff;
  --kls-color-100: #F7F5F9;
  --kls-color-200: #ffca67;
  --kls-color-300: #22A75D;
  --kls-color-400: #2278D4;
  --kls-color-500: #191B21;

  /* BORDER-RADIUS */
  --kls-border-radius-primary: 10px;
  --kls-border-radius-secondary: 50px;

  /* SPACINGS */
  --kls-padding-xs: 5px;
  --kls-padding-s: 10px;
  --kls-padding-m: 15px;
  --kls-padding-l: 20px;
  --kls-padding-xl: 25px;

  --kls-margin-xs: 5px;
  --kls-margin-s: 10px;
  --kls-margin-m: 15px;
  --kls-margin-l: 20px;
  --kls-margin-xl: 25px;

  --kls-gap-xs: 5px;
  --kls-gap-s: 10px;
  --kls-gap-m: 15px;
  --kls-gap-l: 20px;
  --kls-gap-xl: 25px;

}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--kls-color-100);
  padding-bottom: 100px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 675px) {
  html {
    font-size: 14px;
  }
}