#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px var(--kls-padding-xl);
}

#hero>div {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: var(--kls-gap-xl);
    min-width: 600px;
    position: relative;
    z-index: 1;
}

#hero>div h1 {
    color: var(--kls-color-400);
    font-size: 2.5rem;
}

#hero>div p {
    font-size: 1.2rem;
    color: var(--kls-color-500);
    opacity: 0.7;
}

#hero>img {
    width: 500px;

}

#hero .map {
    border: 5px solid var(--kls-color-400);
    border-radius: 0px 100% 100% 100%;
}

@media (max-width: 1115px) {
    #hero > img {
        position: absolute;
        filter: opacity(0.3);
        z-index: 0;
        right: 0;
    }
    #hero>div {
        width: 100%;
        min-width: 200px;
    }
}